<div class="container mt-5 text-center">
  <div class="row">
    <div class="col-12">
        <button (click)="startScan()" class="btn btn-primary btn-sm mb-2">Scan Code</button>
        <div [hidden]="scandone">
          <div id="loadingMessage">🎥 Unable to access video stream (please make sure you have a webcam enabled)</div>
          <div class="embed-responsive-4by3">
            <canvas id="canvas" class="embed-responsive-item" hidden></canvas>
          </div>
          <div id="output" hidden>
            <div id="outputMessage">No QR code detected.</div>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col-12">
          <div #trigger class="trigger"></div>
          <svg version="1.1" id="tick" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 37 37" style="enable-background:new 0 0 37 37;" xml:space="preserve">
          <path class="circ path" style="fill:none;stroke:rgb(79, 214, 86);stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" d="
            M30.5,6.5L30.5,6.5c6.6,6.6,6.6,17.4,0,24l0,0c-6.6,6.6-17.4,6.6-24,0l0,0c-6.6-6.6-6.6-17.4,0-24l0,0C13.1-0.2,23.9-0.2,30.5,6.5z"
            />
          <polyline class="tick path" style="fill:none;stroke:rgb(79, 214, 86);stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" points="
            11.6,20 15.9,24.2 26.4,13.8 "/>
          </svg>
      </div>
    </div>
  <div class="row" *ngIf="scandone">
    <div class="col-12">
      <h1>Confirm</h1>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-12">
              <small>Pay to:</small><br>
              <p>Starbucks</p>
              <b class="small">{{address}}</b>
              <hr>
              <h3>Coffee</h3>
              <h3>5.25 CHF</h3>
            </div>
          </div>
        </li>
      </ul>
      <button class="btn btn-danger btn-lg mt-5 mb-5" (click)="pay()">PAY</button>
    </div>
  </div>

</div>