<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Wallet</h1>
      <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-4">
                <h5>ETH <i class="fab fa-ethereum"></i></h5>
              </div>
              <div class="col-4">
                <h3>3.25</h3>
              </div>
              <div class="col-4">
                <h3>649.3 CHF</h3>
              </div>
            </div>
          </li>
        </ul>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <button class="btn btn-primary btn-lg text-light mr-1">Add Funds</button>
      <button class="btn btn-primary btn-lg text-light ">My profile</button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <button [routerLink]="['/pay']" routerLinkActive="router-link-active"  class="btn btn-primary btn-lg text-light mr-1">PAY</button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <h1>Recent</h1>
      <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-4">
                <h5>Starbucks</h5>
                <p>coffee</p>
              </div>
              <div class="col-8">
                <h3>- 6.20 CHF</h3>
                <p class="text-truncate">0x732D145f57Ca26D1AF36849281BbDAb393Ea0F16</p>
              </div>
            </div>
          </li>
        </ul>
    </div>
  </div>
</div>